# Node.js
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.sublime-workspace

# Build
build/
dist/

# Misc
.env
*.local

temp_nlw_doctor_care/